body{
  font-family: "Noto Sans JP", sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.sns_instagram, .sns_twitter{
  align-items: center;
  border: solid 1px #eee;
  border-radius: 50%;
  color: #adadad;
  display: inline-flex;
  font-size: 24px;
  height: 50px;
  width: 50px;
  justify-content: center;
}
.icon_twitter{
  width: 25px;
  height: 20px;
}
.icon_instagram{
  width: 24px;
  height: 24px;
}
.hide{
  display: none;
}

/* header */
.header_inner {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000; 
}
.header_nav{
  display: none;
}
.header_sns{
  display: none;
}
.header_hamburger{
  width: 34px;
  height: 20px;
  position: relative;
  display: flex;
  margin-right: 0;
  margin-left: auto;
  background-color: #fff;
  border: #fff;
}
.hamburger_bar{
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #000;
}
.hamburger_bar:nth-child(1){
  top: 0;
}
.hamburger_bar:nth-child(2){
  top: 100%;
}
.hamburger_bar.is-active:nth-child(1){
  top: 50%;
  transform: rotate(45deg);
}
.hamburger_bar.is-active:nth-child(2){
  top: 50%;
  transform: rotate(135deg);
}

/* PC */
@media (min-width: 768px){
  .header_hamburger{
    display: none;
  }
  .header_inner{
    padding: 15px 24px;
  }
  .header_nav{
    display: flex;
    margin-left: auto;
  }
  .header_nav_list{
    display: flex;
    gap: 32px;
  }
  .header_nav_item_link{
    color: #666;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .header_sns{
    margin-left: 32px;
    display: flex;
    gap: 16px;
  }
}

/* メニュー表示 */
.menu{
  display: none;
}
.menu.is-active{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 220px;
  right: 0;
  padding: 120px;
  padding-top: 140px;
  background-color: #fff;
  text-align: center;
  z-index: 99;
}
.menu_list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu_item{
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

/* 公式LINEセクション */
.officialline{
  margin-top: 63px;
}
.officialline_container{
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1032px;
}
.officialline_body{
  background: url(../img/bg-line.jpg) center center / cover;
  border-radius: 28px;
  padding: 40px 24px;
  overflow: hidden;
  position: relative;
}
.officialline_body:before{
  background-color: rgba(0, 113, 188, 0.9);
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.officialline_body_inner{
  position: relative;
}
.official_line_icon{
  background: radial-gradient(#fff 60%, transparent 60%);
  width: 40px;
  height: 40px;
}
.officialline_top{
  font-size: 24px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.05em;
  text-align: center;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin: 0;
}
.officialline_top_text{
  margin-top: 4px;
  margin-bottom: 0;
}
.officialline_content{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 160%;
  color: #fff;
  margin-top: 8px;
}
.officialline_content_text{
  margin: 0;
}
.officialline_bottom{
  margin-top: 34px;
  text-align: center;
}
.officialline_button{
  background-color: #fff;
  border-radius: 50px;
  color: #666;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 180%;
  max-width: 320px;
  padding: 12px;
  position: relative;
  width: 90%;
}
.officialline_link{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

/* PC */
@media (min-width: 768px) {
  .officialline{
    margin-top: 144px;
  }
  .officialline_container{
    padding: 0 24px;
  }
  .officialline_body{
    border-radius: 56px;
    padding: 68px;
  }
  .officialline_top{
    font-size: 36px;
    display: flex;
    gap: 8px;
  }
  .officialline_top_text{
    margin-top: 0;
  }
  .officialline_content{
    margin-top: 16px;
    text-align: center;
  }
  .officialline_bottom{
    margin-top: 24px;
    width: 100%;
  }
}

/* footer */
footer{
  margin-top: 80px;
  text-align: center;
  border-top: solid 1px #eee;
  width: 100%;
}
footer.is-changed{
  position: absolute;
  bottom: 0px;
  display: grid;
  justify-content: center;
}
.footer_line{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.footer_line.is-changed{
  margin: 0 16px;
  bottom: 159px;
}
.footer_line_link{
  align-items: center;
  background-color: #5fdf5b;
  display: flex;
  padding: 10px;
  justify-content: center;
}
.footer_line_link.is-changed{
  border-radius: 30px;
}
.footer_line_icon{
  width: 28px;
  height: 28px;
  background: radial-gradient(#fff 60%, transparent 60%);
}
.footer_line_link_text{
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.14em;
  margin: 0;
  margin-left: 8px;
  text-align: left;
}
.footer_line_link_text br{
  display: none;
}
.footer_line_link_icon{
  line-height: 1;
  margin-left: 8px;
}
.footer_inner{
  padding: 56px 24px 32px;
}
.footer_logo{
  display: block;
}
.footer_siteinfo_link{
  display: inline-block;
  margin-top: 24px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
}
.footer_siteinfo_link_icon{
  width: 12.25px;
  height: 12.25px;
}
.footer_sns{
  z-index: 100;
}
.footer_sns_list{
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 24px;
}
.footer_copyright{
  border-top: solid 1px #eee;
  color: #666;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 13px;
  padding: 32px 24px;
  z-index: 100;
}
small{
  font-size: 80%;
}

/* PC */
@media (min-width: 768px) {
  .footer_line{
    bottom: 16px;
    right: 16px;
    left: auto;
  }
  .footer_line_link{
    border-radius: 16px;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 0.15);
    padding: 22px 20px 22px 24px;
  }
  .footer_line_icon{
    width: 36px;
    height: 36px;
  }
  .footer_line_link_text{
    margin-left: 13px;
  }
  .footer_line_link_text br{
    display: block;
  }
  .footer_line_link_icon{
    margin-left: 35px;
  }
  .footer_inner{
    padding: 56px 24px 48px;
  }
  .footer_sns_list{
    margin-top: 32px;
  }
  .footer_copyright{
    padding-top: 36px;
  }
}

/* クイズページ */
.quiz-hero{
  background: url(../img/quiz/bg-hero.jpg) center center / cover;
  padding: 60px 16px 32px;
}
.quiz-hero_container{
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 16px;
}
.hero_title{
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.hero_title_label{
  font-size: 14px;
  line-height: 1.8;
}
.hero_title_inline{
  display: block;
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
}
.quiz-container{
  margin: auto;
  margin-top: 48px;
  max-width: 984px;
  padding: 0 16px;
}
.quiz-box_question_title{
  margin: 0;
}
.quiz-box_label{
  background-color: #0071bc;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 16px;
}
.quiz-box_question_title_text{
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 16px;
}
.quiz-box_question_image{
  margin: 24px auto;
  max-width: 718px;
}
img{
  max-width: 100%;
}
.quiz-box_label--accent{
  background-color: #e34e70;
  margin-top: 8px;
}
.quiz-box_answer_list{
  display: block;
  margin-top: 8px;
}
.quiz-box_answer_item{
  margin-top: 8px;
}
.quiz-box_answer_button{
  align-items: center;
  border: solid 4px #eee;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  padding: 16px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  color: #000;
}
.quiz-box_answer_button.is-selected{
  background-color: #eff2f5;
  border: solid 4px #0071bc;
  color: #0071bc;
}
.quiz-box_answer_button:disabled{
  cursor: default;
}
.icon_arrow{
  margin-left: auto;
  position: relative;
  height: 14px;
  width: 11px;
  background: url(../img/icon/icon-arrow.svg);
}
.quiz-box_answer_button:disabled .icon_arrow{
  display: none;
}
.quiz-box_answer_correct{
  background-color: #fff2f5;
  border-radius: 8px;
  display: none;
  margin-top: 8px;
  padding: 24px 40px;
  max-width: 984px;
}
.quiz-box_answer_correct.is-correct{
  display: block;
}
.quiz-box_answer_correct.is-incorrect{
  background-color: #eff2f5;
  display: block;
}
.quiz-box_answer_correct_title{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin: 0;
}
.is-correct .quiz-box_answer_correct_title{
  color: #e34e70;
}
.is-incorrect .quiz-box_answer_correct_title{
  color: #0071bc;
}
.quiz-box_answer_correct_content{
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  gap: 18px;
  line-height: 1.8;
  margin-top: 16px;
}
.quiz-box_answer_correct_content_label{
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 24px;
}
.quiz-box_note{
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  gap: 16px;
  line-height: 1.6;
  margin: 0;
  margin-top: 16px;
  padding: 24px;
}
.icon_note{
  margin-right: 16px;
}
.quiz-box:not(:first-of-type){
  margin-top: 120px;
}

/* PC */
@media (min-width: 768px) {
  .quiz-hero{
    padding: 110px 0 76px;
  }
  .quiz-hero_container{
    padding: 0 24px;
  }
  .hero_title_label{
    font-size: 18px;
  }
  .hero_title_inline{
    font-size: 60px;
    margin-top: 12px;
  }
  .quiz-container{
    margin-top: 120px;
    padding: 0 24px;
  }
  .quiz-box_label{
    font-size: 36px;
  }
  .quiz-box_question_title_text{
    font-size: 36px;
    margin-top: 24px;
  }
  .quiz-box_question_image{
    margin: 64px auto;
  }
  .quiz-box_label--accent{
    margin: 0;
  }
  .quiz-box_answer_list{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
  .quiz-box_answer_button{
    border: solid 5px #eee;
    font-size: 18px;
    line-height: 1.8;
    padding: 19px;
  }
  .quiz-box_answer_button.is-selected{
    border: solid 5px #0071bc;
  }
  .quiz-box_answer_correct{
    margin-top: 16px;
  }
  .quiz-box_note{
    font-size: 18px;
    line-height: 1.8;
  }
}