/* header */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 64px;
}
.header_logo{
  margin-left: 30px;
}
.header_logo img{
  height: 25px;
}
.header_title{
  margin-left: 20px;
  color: rgb(135, 186, 253);
}
.header_record-button{
  cursor: pointer;
  margin-left: auto;
  margin-right: 30px;
  padding: 10px 40px;
  border-radius: 30px;
  border: #fff;
  background: linear-gradient(to right, rgb(61, 181, 255), rgb(160, 245, 255));
  color: #fff;
  box-shadow: 0 4px 10px 0 rgb(153, 243, 253);
}

/* modal */
.modal{
  display: none;
}
.modal.openModal{
  display: block;
}

.modal:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  inset: 0;
  z-index: 100;
}
.modal_container{
  position: absolute;
  border-radius: 25px;
  padding: 20px 56px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.modal_container_inner{
  display: flex;
  gap: 40px;
}
.label{
  font-size: 13px;
  font-weight: bold;
  line-height: 100%;
}
input{
  background-color: rgb(245, 245, 245);
  border: #fff;
  font-size: 13px;
  border-radius: 15px;
  padding: 10px;
}
.checkbox_container{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
input[type=checkbox] {
  display: none; 
}
.checkbox{
  font-size: 13px;
  background-color: rgb(245, 245, 245);
  padding: 5px 10px 5px 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: fit-content;
  position: relative;
}
.checkbox::after{
  position: absolute; 
  content: ""; 
  display: block; 
  top: 50%; 
  left: 10px;
  transform: translateY(-50%); 
  width: 14px;
  height: 14px;
  background-color: rgb(188, 188, 188);
  border-radius: 50%; 
}
.checkbox::before{
  position: absolute;
  content: "";
  display: block;
  margin-left: -16px;
  margin-top: -2px;
  transform: translateX(-50%);
  width: 3px;
  height: 6px;
  border-right: 3px solid rgb(255, 255, 255); 
  border-bottom: 3px solid rgb(255, 255, 255); 
  transform: rotate(45deg);
  z-index: 10;
}
#twitter{
  height: 100px;
}
.modal_record-button{
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 10px 150px;
  width: max-content;
  border-radius: 30px;
  border: #fff;
  background: linear-gradient(to right, rgb(61, 181, 255), rgb(160, 245, 255));
  color: #fff;
  box-shadow: 0 4px 10px 0 rgb(153, 243, 253);
}
.modal_close-button{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 25px;
  line-height: 1;
  border-radius: 50%;
  padding: 0 3px;
  border: #fff;
  color: rgb(96, 96, 96);
}
.modal.openCalendar .modal_container{
  display: none;
}

/* calendar */
.calendar{
  display: none;
}
.calendar.openCalendar{
  display: block;
}
table{
  position: absolute;
  font-family: 'Noto Sans JP', monospace;
  font-weight: 600;
  border-radius: 25px;
  padding: 40px 60px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
}
th, td{
  padding: 15px;
  text-align: center;
}
.week{
  font-size: 14px;
  color: blue;
}
#prev, #next{
  cursor: pointer;
  user-select: none;
}
td.disabled{
  opacity: 0.3;
}
td.today{
  color: #fff;
  background: rgb(3, 137, 209);
  border-radius: 50%;
  padding: 0;
}
.calendar_button{
  position: absolute;
  border-radius: 25px;
  border: #fff;
  color: rgb(252, 252, 252);
  padding: 10px 40px;
  margin-top: 15px;
  background: linear-gradient(to right, rgb(61, 181, 255), rgb(160, 245, 255));
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}


/* main */
main{
  margin-top: 60px;
  background-color: rgb(243, 243, 243);
  padding: 25px 60px 0;
}
.main_content{
  display: flex;
}
.main_content_left{
  width: 50%;
  padding-right: 10px;
}
.main_content_hours{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.hour_data{
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  text-align: center;
}
.hour_data_title{
  color: rgb(50, 101, 255);
  font-size: 15px;
  line-height: 20%;
}
.hour_data_figure{
  font-size: 30px;
  font-weight: bold;
  line-height: 20%;
}
.hour_data_unit{
  color: rgb(169, 216, 249);
  font-size: 15px;
  line-height: 20%;
}
.main_content_bar-graph{
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border-radius: 20px;
}

.main_content_right{
  width: 50%;
  padding-left: 10px;
  display: flex;
}


/* 学習言語 */
.main_content_language{
  border-radius: 10px;
  background-color: #fff;
  width: 50%;
}
/* .language_chart{
  width: 300px;
  width: 50%;
  height: 200px;
}  */

/* 学習コンテンツ */
.main_content_study-content{
  /* margin-top: 20px; */
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
}
/* .study_chart{
  width: 300px;
  height: 200px;
} */

/* bottom */
.main_bottom{
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.main_bottom_arrow{
  margin-top: 18px;
  border-bottom: solid 2px rgb(81, 179, 254);
  border-left: solid 2px rgb(81, 179, 254);
  width: 8px;
  height: 8px;
}
.arrow_left{
  margin-right: 5px;
  transform: rotate(45deg);
}
.arrow_right{
  margin-left: 5px;
  transform: rotate(-135deg);
}
